body {
	background-color: #001125;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bold;
	font-size: 4vw;
}
#superficie {
	position: fixed;
	z-index: -1;
	bottom: 0;
	width: 100%;
	height: 18%;
}
#superficie img{
	height: 100%;
	width: 100%;
}
.panel_control {
	position: fixed;
	margin: 1%;
	color: #feffad;
	font-size: 3vw;
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid #feff97;
	top: 30%;
	width: 37%;
	height: 50%;
	overflow: hidden;
}
#turbo {
	position: absolute;
	width: 100%;
	height: 30%;
	text-align: center;
	bottom: 10%;
}
#turbo img{
	height: 100%;
}
#titulo_panel{
	position: relative;
	text-align: center;
	margin: 10%;
}
#panel {
	position: relative;
	margin: 5%;
	padding: 0;
}
#panel li{
	margin-bottom: 10%;
	list-style-type: none;
}
.menu {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	z-index: 2;
}
.menu li{
	float: left;
	border: 2px solid #feff97;
	border-bottom: none;
	border-left: none;
}
.menu li a{
	display: block;
	color: #feffad;
	text-align: center;
	padding: 3.3vh 8.7vw;
	text-decoration: none;
}
.menu li:last-child{
	border-right: none;
}
#tierra {
	position: fixed;
	left: 10%;
	top: 5%;
	z-index:-2;
	width: 100%;
	height: 25%;
}
#tierra img{
	height: 100%;
}
#nave{
	position: fixed;
	z-index: 1;
	top: 40%;
	text-align: center;
	width: 100%;
	height: 15%;
}
#nave img{
	height: 100%;
}
#altura{
	position: fixed;
	top: 8%;
	right: 1%;
	width: 5%;
	height: 80%;
	border: 2px solid #feff97;
	text-align: bottom;
}
#altura div{
	position: absolute;
	height: 45%;
	width: 100%;
	bottom: 0;
	background-color: green;
}
.ayuda {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	display: none;
	top: 30%;
	left: 20%;
	width: 60%;
	margin: 0;
	padding: 1%;
	border: 2px solid #feff97;
	overflow: hidden;
	z-index: 2;
	color: #feffad;
}
.pausa {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	display: none;
	top: 30%;
	left: 30%;
	width: 40%;
	margin: 0;
	padding: 1%;
	border: 2px solid #feff97;
	overflow: hidden;
	z-index: 2;
	color: #feffad;
}
strong{
	color: red;
}
li a:hover:not(.active) {
    background-color: #008bff;
}
.active {
    background-color: #4CAF50;
}