body {
	background-color: #001125;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bold;
	font-size: large;
}
#superficie {
	position: fixed;
	z-index: -1;
	bottom: 0;
	width: 100%;
	height: 15%;
}
.panel_control {
	position: absolute;
	margin: 1%;
	color: #feffad;
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid #feff97;
	top: 40%;
	width: 30%;
	height: 40%;
	overflow: hidden;
}
#turbo {
	position: absolute;
	display: block;
	width: 60%;
	height: auto;
	left: 20%;
	bottom: 10%;
}
#titulo_panel{
	position: relative;
	text-align: center;
	margin-bottom: 20%;
	top: 5%;
}
#panel {
	position: relative;
	margin: 0;
	padding: 0;
	left: 5%;
}
#panel li{
	margin-bottom: 10%;
	list-style-type: none;
}
.menu {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	z-index: 2;
}
.menu li{
	float: left;
	border: 2px solid #feff97;
	border-bottom: none;
	border-left: none;
}
.menu li a{
	display: block;
	color: #feffad;
	text-align: center;
	padding: 1em 7.05em;
	text-decoration: none;
}
.menu li:last-child{
	border-right: none;
}
#tierra {
	position: absolute;
	left: 10%;
	top: 0;
	z-index:-2;
	width: 25%;
	height: auto;
}
#nave{
	position: absolute;
	z-index: 1;
	left: 60%;
	top: 40%;
	width: 10%;
	height: auto;
}
.ayuda {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 30%;
	left: 30%;
	width: 40%;
	margin: 0;
	padding: 1%;
	border: 2px solid #feff97;
	overflow: hidden;
	z-index: 2;
	color: #feffad;
}
.pausa {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 30%;
	left: 30%;
	width: 40%;
	margin: 0;
	padding: 1%;
	border: 2px solid #feff97;
	overflow: hidden;
	z-index: 2;
	color: #feffad;
}
strong{
	color: red;
}
li a:hover:not(.active) {
    background-color: #008bff;
}
.active {
    background-color: #4CAF50;
}